.div_signin {
}

.img_dangnhap {
  position: absolute;
  width: 527px;
  height: 736px;
  left: 332px;
  top: 259px;
  border-radius: 200px;
}

.text_dangnhap {
  position: absolute;
  width: 443px;
  height: 121px;
  left: 1163px;
  top: 336px;

  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 93px;
  text-align: center;

  color: #f4d58d;
}

.tentaikhoan {
  position: absolute;
  width: 407.33px;
  height: 42.19px;
  left: 1178.7px;
  top: 463.12px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;

  opacity: 0.6;
}

.matkhau {
  position: absolute;
  width: 407.33px;
  height: 42.97px;
  left: 1178.7px;
  top: 554.54px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.5);
}

.quenmatkhau {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1163px;
  top: 622px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.dangki {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 1423px;
  top: 622px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}

.check {
  position: absolute;
  width: 45px;
  height: 43px;
  left: 1163px;
  top: 671px;

  border: 1px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 5px;
}

.text_luumatkhau {
  position: absolute;
  width: 145px;
  height: 42px;
  left: 1220px;
  top: 672px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.hoac {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 1334px;
  top: 696px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.dangnhap {
  position: absolute;
  width: 198.12px;
  height: 42px;
  left: 1288.88px;
  top: 870px;

  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}
