*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .header_homepage{
    box-sizing:border-box;
    background-color: #001427;
    margin: 0;
    padding:0;
  }
  
  .navbar{
    display:flex;
    align-items:center;
    padding:77px;
    padding-top: 40px;
    background: transparent;
    padding-bottom: 30px;
  }
  
  .logo{
    /* padding-left:100px !important; */
    background: transparent;
    /* width: 82px; */
  }
  
  nav{
    flex:1;
    text-align:right;
    background: transparent;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  nav ul{
    display:inline-block;
    list-style-type: none;
    background: transparent;
  }
  
  nav ul li{
    display:inline-block;
    margin-right:70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    background: transparent;
  }
  
  nav ul li::after{
    content: '';
      width: 0%;
      height: 2px;
      background: #f4d58d;
      display: block;
      margin: auto;
      transition: 0.5s;
  }
  
  nav ul li:hover::after{
    width:100%;
  }
  
  a{
    text-decoration: none;
    color: #f4d58d;
    background: transparent;
  }
  
  p{
    padding-top:20px;
    padding-left:430px;
    padding-right:430px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-0.16deg);
  }
  
  .container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    background: transparent;
  }
  
  .row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    background: transparent;
  }
  
  /*-------------------------------- SIGN IN -------------------------------*/

.dangnhap{
    box-sizing: border-box;
    background-color: #001427;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .row-1st{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  
  .col-1{
    flex-basis:50%;
    min-width:100px;
    text-align: center;
    align-items:center;
  }
    
  .username{
    position: relative;
    width: 380px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 22px;
    line-height: 34px;
    transform: rotate(-0.16deg);
    border: 3px solid #F4D58D;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:17px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .mail{
    position: absolute;
    width: 35px;
    margin-top: 32px;
    margin-left:-45px;
  }

  .password{
    position: relative;
    width: 380px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 22px;
    line-height: 34px;
    transform: rotate(-0.16deg);
    border: 3px solid #F4D58D;
    box-sizing: border-box;
    border-radius: 15px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:17px;
    margin-bottom: 20px;
  }

  .not_eye{
    position: absolute;
    width: 35px;
    margin-top: 12px;
    margin-left:-45px;
  }

  .forgot_password_text{
    padding-right: 150px;
  }
  
  .lineofrememberpassword{
    padding-top: 15px;
  }

  .checkbox{
    width: 32px; 
    height: 32px; 
    color: #001427;
    border: 2px solid #F4D58D;
    box-sizing: border-box;
    border-radius: 7px;
    background: transparent;
    font-size:20px;
    margin-right: 10px;
  }

  .remember_password{
    margin-right: 220px;
  }

  .img_another_signin{
    width: 150px;
    padding-bottom: 20px;
  }

/*IPHONE 11*/
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

.notdisplay{
  display: none;
}

.text_start{
  display: none;
}

.start_btn{
  display: none;
}

/* ------------------- MEDIA QUERY FOR MENU ----------ỔN--------- */
@media only screen and (max-width:415px){
  *{
    background-color: #001427;
  }
  nav ul{
      position: absolute;
      top:70px;
      left:0;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  }

  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top:10px;
      margin-bottom:10px;
  }

  nav ul li a{
      color:#fff;
  }

  .menu-icon{
      display: block;
      cursor: pointer;
      position: absolute;
      width: 36px;
      left: 18px;
      top:50px;
  }

  .logoheader{
    position: absolute;
    width:50px;
    top: 30px;
    left: 330px;
  }

  .userheader{
    display: none;
  }

  .cartheader{
    display: none;
  }

  .col-2{
      padding-left: 20px;
  }

  .btn{
      margin-left: 30px;
  }

  .prev, .next {
      display: none;
  }

  .notdisplay{ /*khóa tạm*/
    display: block;
  }
}

/* ------------------- MEDIA QUERY FOR SIGNUP PAGE ------ổn------------- */

@media only screen and (max-width:415px){
  .signin_img{
    display: none;
  }

  .dangnhap{
    padding-left:0;
    padding-right: 0;
    padding-top: 30px;
  }

  .col-1{
    flex-basis:100%;
  }
}

/* ------------------- MEDIA QUERY FOR HOMEPAGE ------ổn------------- */
@media only screen and (max-width:415px){
  .displayed{ /*khóa tạm*/
    display: none;
  }

  .footer_homepage{
    display: none;
  }

  /* .footer_homepage{
    background-color: #001427!important;
  }

  .logo_footer{
    width:50px;
  }

  .footer_nav{
    padding-bottom: 10px;
  }
  
  .footer_nav h2{
    font-size: 12px;
    line-height: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .footer_icons{
    padding-bottom: 10px;
  }
  
  .footer_icons img{
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
  }
  
  .footer_copyright img{
    width: 306px;
  }  */
}