*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-image:url("/image/start.png");
}

body{

}

.navbar{
  display:flex;
  align-items:center;
  padding:77px;
  background: transparent;
}

.logo{
  padding-left:100px !important;
  background: transparent;
}

nav{
  flex:1;
  text-align:right;
  background: transparent;
}

nav ul{
  display:inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li{
  display:inline-block;
  margin-right:70px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f4d58d;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after{
  width:100%;
}

a{
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p{
  padding-top:20px;
  padding-left:430px;
  padding-right:430px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
transform: rotate(-0.16deg);
}

.container{
  max-width:1300px;
  margin:auto;
  padding-left:25px;
  padding-right:25px;
  background: transparent;
}

.row{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
  background: transparent;
}

.langsom{
  padding-left: 450px;
  background: transparent;
}

.btn_startingpage{
  margin-left: 663.8px;
  margin-top: 25.36px;
  margin-bottom:25px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f4d58d;
  transform: rotate(-0.16deg);
  border: 3px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 35px;
  background:transparent;
}

/*IPHONE 11*/
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

.notdisplay{
  display: none;
}

.text_start{
  display: none;
}

.start_btn{
  display: none;
}

/* ------------------- MEDIA QUERY FOR MENU ------------------- */
@media only screen and (max-width:415px){
  nav ul{
      position: absolute;
      top:70px;
      left:0;
      background-color: #001427;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  }

  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top:10px;
      margin-bottom:10px;
  }

  nav ul li a{
      color:#fff;
  }

  .menu-icon{
      display: block;
      cursor: pointer;
      position: absolute;
      width: 36px;
      left: 18px;
      top:50px;
  }

  .logoheader{
    position: absolute;
    width:50px;
    top: 30px;
    left: 260px;
  }

  .userheader{
    display: none;
  }

  .cartheader{
    display: none;
  }

  .col-2{
      padding-left: 20px;
  }

  .btn{
      margin-left: 30px;
  }

  .prev, .next {
      display: none;
  }

  .notdisplay{
    display: block;
  }
}


/* ------------------- MEDIA QUERY FOR LESS THAN 414px SCREEN SIZE ------------------- */
@media only screen and (max-width:415px){
  *{
    background-image:url("/image/backgroundip11.png");
  }

  .langgomtext{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .langsom{
    padding-left: 0px;
    padding-right: 30px;
    width: 250px;
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .display{
    display: none;
  }

  .starttext{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-bottom: 10px;
  }

  .text_start{
    display: block;
    background: transparent;
    padding-right: 30px;
    /*padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 10px; */
  }

  .btnstart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .btn_startingpage{
    display: none;
  }

  .start_btn{
    display: block;
    background: transparent;
    padding-right: 30px;
  }
}