.h1_home {
  position: absolute;
  width: 692px;
  height: 205.2px;
  left: 593.47px;
  top: 341.95px;

  font-family: "UTM Davida";
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 181px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;

  transform: rotate(-0.16deg);
}

.p_home {
  position: absolute;
  width: 692px;
  height: 291.02px;
  left: 593.74px;
  top: 439.93px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  transform: rotate(-0.16deg);
}

.btn_home {
  position: absolute;
  width: 302.42px;
  height: 93.13px;
  left: 763.8px;
  top: 637.36px;

  font-family: "SVN-Aptima";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;

  transform: rotate(-0.16deg);
}


.trang_chu {
  position: absolute;
  width: 102px;
  height: 58px;
  left: 600px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.gioi_thieu {
  position: absolute;
  width: 102px;
  height: 57px;
  left: 700px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.lien_he {
  position: absolute;
  width: 101px;
  height: 57px;
  left: 800px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.cua_hang {
  position: absolute;
  width: 107px;
  height: 57px;
  left: 900px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.copyright {
  position: absolute;
  width: 406px;
  height: 51px;
  left: 757px;
  top: 349px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  /* or 24px */

  text-align: center;

  color: #ffffff;
}

nav {
  flex: 1;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.header {
  background-color: transparent;
}
.footer_img {
    position: absolute;
left: 50%;
}

.div_footer1 {
  display: flex;
}

