.div_signup {
  position: relative;
  width: 1822px;
  height: 900px;
  background: #001427;
}

.img_rectangle80 {
  position: absolute;
  left: 332px;
  top: 50px;
}

.dangky {
  position: absolute;
  width: 443px;
  height: 121px;
  left: 1163px;
  top: 100px;
  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 93px;
  text-align: center;
  color: #f4d58d;
}

.tentaikhoan {
  position: absolute;
  width: 420px;
  height: 60px;
  left: 1170px;
  top: 220px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:transparent;
}

.mail {
  position: absolute;
  left: 1530px;
  top: 230px;
}

.matkhau {
  position: absolute;
  width: 420px;
  height: 60px;
  left: 1170px;
  top: 320px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 21px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:transparent;
}

.hint {
  position: absolute;
  left: 1530px;
  top: 330px;
}

.nhaplaimatkau {
  position: absolute;
  width: 420px;
  height: 60px;
  left: 1170px;
  top: 420px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 21px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:transparent;
}

.eye{
  position: absolute;
  left: 1530px;
  top: 435px;
}

.hoac {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 1334px;
  top: 480px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.google {
  position: absolute;
  left: 1250px;
  top: 580px;
}

.vector {
  position: absolute;
  left: 1370px;
  top: 580px;
}

.facebook {
  position: absolute;
  left: 1450px;
  top: 580px;
}

.check {
  position: absolute;
  width: 45px;
  height: 43px;
  left: 1163px;
  top: 660px;
  opacity: 0.1;
}
.text {
  position: absolute;
  width: 405.5px;
  height: 42.19px;
  left: 1240px;
  top: 660px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.taotaikhoan {
  position: absolute;
  left: 1273px;
  top: 720px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_homepage {
  box-sizing: border-box;
  background-color: #001427;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 77px;
  padding-top: 40px;
  background: transparent;
}

.logo {
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav {
  flex: 1;
  text-align: right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li {
  display: inline-block;
  margin-right: 70px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

a {
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p {
  padding-top: 20px;
  padding-left: 430px;
  padding-right: 430px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transform: rotate(-0.16deg);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: transparent;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}
