* {box-sizing:border-box;
    background-color: #001427;
}

/* Slideshow container */
.slideshow-container-newproducts {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  background-color: #001427;
}

.new-products{
    margin-left: 600px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F4D58D;
}

.newproduct h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.newproduct h2{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #F4D58D;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /*thêm*/
  max-width: 1080px;
margin:auto;
padding-left:25px;
padding-right:25px;
}

.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.newproduct{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px;
    transition: transform 0.5s;
}

.newproduct img{
  text-align: center;
}

.img_gom1{
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #F4D58D;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dots{
    /* max-width: 1000px; */
  position: relative;
  margin: auto;
  background-color: #001427;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
  border: 1px solid #F4D58D;
  box-sizing: border-box;

}

.active, .dot:hover {
  background-color: #F4D58D;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .img_gom1{
    width:30%; 
    margin-left:50px; 
    padding-left:100px;
    background-blend-mode: lighten;
} */

/* .img_gom1{
  margin-left: 100px;
} */


/* ----------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container-bestsellerproducts {
/* max-width: 1000px; */
position: relative;
margin: auto;
background-color: #001427;
}

.bestseller-products{
  margin-left: 500px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F4D58D;
}

.bestsellerproduct h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.bestsellerproduct h2{
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #F4D58D;
}

/* Hide the images by default */
.mySlides2 {
display: none;
/*thêm*/
max-width: 1080px;
margin:auto;
padding-left:25px;
padding-right:25px;
}

.row{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
}

.bestsellerproduct{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom:50px;
  transition: transform 0.5s;
}

.bestsellerproduct img{
text-align: center;
}

.img_gom11{
width:100%;
}

/* Next & previous buttons */
.prev2, .next2 {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: #F4D58D;
font-weight: bold;
font-size: 48px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next2 {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dots2{
  /* max-width: 1000px; */
position: relative;
margin: auto;
background-color: #001427;
}

.dot2 {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: transparent;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;

border: 1px solid #F4D58D;
box-sizing: border-box;

}

.active, .dot2:hover {
background-color: #F4D58D;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


/* --------------------------------- Sidebar-------------------------------- */

.categorysidebar{
  color: white !important;
  font-family: 'Montserrat', sans-serif;
}

.w3-sidebar{
  background-color: transparent !important;
}

.storesidebar{
  color:white !important;
  background: linear-gradient(102.7deg, rgba(255, 255, 255, 0.2) 49.72%, rgba(255, 255, 255, 0) 129.39%) !important;
  border: 0.75px solid #FFFFFF !important;
  box-sizing: border-box !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 0px 30px 30px 0px !important;
}

.storebuttonclose{
  color: white;
}

.categorysidebar button, .categorysidebar ul, .categorysidebar ul li{
  background-color: transparent;
}
