.single_product{
  display: flex;
  margin-top: 80px;

}

.single_product img{
  padding: 0;
}

.small_img{
  display: flex;
  justify-content: space-between;
}

.small{
  flex-basis: 24%;
  cursor: pointer;
}
.single_product .col{
  padding: 2px;
}

.single_product h1{
  margin: 20px 0;
  font-size: 46px;
  font-weight: bold;
}

.ratings{
  display: flex;
}
/* -- quantity box -- */

.quantity {
  display:flex;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}


.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

table, td{
  border: 1px solid;
}

table {
  border-collapse: collapse;
}






