.div_contact {
    background: #001427;
}

.p_text {
/*   position: absolute; */
  width: 547px;
  height: 350px;
  left: 210px;
  top: 396px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.youtube {
/*   position: absolute; */
  width: 48.58px;
  height: 35.33px;
  left: 2.21px;
  top: 8.83px;

  background: #dadada;
}

.map {
/*   position: absolute;
 */  width: 770px;
  height: 462px;
  left: 940px;
  top: 415px;
}
