*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header_homepage{
  box-sizing:border-box;
  background-color: #001427;
  margin: 0;
  padding:0;
}

.navbar{
  display:flex;
  align-items:center;
  padding:77px;
  padding-top: 40px;
  background: transparent;
}

.logo{
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav{
  flex:1;
  text-align:right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul{
  display:inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li{
  display:inline-block;
  margin-right:70px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f4d58d;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after{
  width:100%;
}

a{
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p{
  padding-top:20px;
  padding-left:430px;
  padding-right:430px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-0.16deg);
}

.container{
  max-width:1300px;
  margin:auto;
  padding-left:25px;
  padding-right:25px;
  background: transparent;
}

.row{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
  background: transparent;
}

/*--------------------------------CONTACT -------------------------------*/

.lienhe{
  box-sizing: border-box;
  background-color: #001427;
}

.row-1st{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
}

.col-1{
  flex-basis:50%;
  min-width:100px;
  text-align: left;
}

.text-col-1{
  padding-left: 150px;
  padding-right: 150px;
}

.col-1 img{
  max-width:80%;
  padding:20px 0;
}

.p_lienhe{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  color: #FFFFFF;
}

.search{
  position: absolute;
  width: 550px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  background-color: transparent;
  font-size: 24px;
  line-height: 34px;
  transform: rotate(-0.16deg);
  border: 3px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 15px;
  padding-top:7px;
  padding-bottom:7px;
  padding-left:7px;
}

.union{
  position: absolute;
  margin-top: -10px;
  margin-left: 500px;
}

.map{
  padding-top: 80px;
  padding-bottom:40px;
}

/*------------------------------FOOTER---------------------------*/
.footer_homepage{
  background-color: #1C2A3D!important;
}

.footer_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom:30px;
}

.footer_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer_nav h2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer_icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer_icons img{
  padding-left: 15px;
  padding-right: 15px;
}

.footer_copyright{
  display: flex;
  justify-content: center;
  align-items: center; 
}

/*IPHONE 11*/
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

.notdisplay{
  display: none;
}

.text_start{
  display: none;
}

.start_btn{
  display: none;
}

/* ------------------- MEDIA QUERY FOR MENU ----------ỔN--------- */
@media only screen and (max-width:415px){
  *{
    background-color: #001427;
  }
  nav ul{
      position: absolute;
      top:70px;
      left:0;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  }

  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top:10px;
      margin-bottom:10px;
  }

  nav ul li a{
      color:#fff;
  }

  .menu-icon{
      display: block;
      cursor: pointer;
      position: absolute;
      width: 36px;
      left: 18px;
      top:50px;
  }

  .logoheader{
    position: absolute;
    width:50px;
    top: 30px;
    left: 330px;
  }

  .userheader{
    display: none;
  }

  .cartheader{
    display: none;
  }

  .col-2{
      padding-left: 20px;
  }

  .btn{
      margin-left: 30px;
  }

  .prev, .next {
      display: none;
  }

  .notdisplay{ /*khóa tạm*/
    display: block;
  }
}

/* ------------------- MEDIA QUERY FOR SIGNUP PAGE ------ổn------------- */
.lienhe_ip{
  display: none;
}
@media only screen and (max-width:415px){
  .lienhe{
    display: none;
  }

  .lienhe_ip{
    display: inline-block;
  }

  .title_ip{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title_ip img{
    padding-bottom: 10px;
  }

  .search{
    width: 300px;
    margin-left: 50px;
    font-size: 18px;
  }

  .union{
    margin-top: 12px;
    margin-left: 310px;
    width: 30px;
  }

  .map{
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .text_ip img{
    padding-left: 50px;
    width: 200px;
  }

  .icons_ip img{
    padding-left: 50px;
    width: 150px;
  }
}

/* ------------------- MEDIA QUERY FOR HOMEPAGE ------ổn------------- */
@media only screen and (max-width:415px){
  .displayed{ /*khóa tạm*/
    display: none;
  }

  .footer_homepage{
    background-color: #001427!important;
  }

  .logo_footer{
    width:50px;
  }

  .footer_nav{
    padding-bottom: 10px;
  }
  
  .footer_nav h2{
    font-size: 12px;
    line-height: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .footer_icons{
    padding-bottom: 10px;
  }
  
  .footer_icons img{
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
  }
  
  .footer_copyright img{
    width: 306px;
  }
}