.div_footer {
    /* background-color: #284261; */
}

.logo_footer {
  position: absolute;
  width: 80px;
  height: 94px;
  left: 740px;
  top: 107px;
}

.trang_chu {
  position: absolute;
  width: 102px;
  height: 58px;
  left: 574px;
  top: 211px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f4d58d;
}

.gioi_thieu {
  position: absolute;
  width: 102px;
  height: 57px;
  left: 696px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.lien_he {
  position: absolute;
  width: 101px;
  height: 57px;
  left: 818px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.cua_hang {
  position: absolute;
  width: 107px;
  height: 57px;
  left: 939px;
  top: 211px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;
}

.ins {
  position: absolute;
  width: 41.67px;
  height: 40.29px;
  left: 630px;
  top: 280px;
  background: #dadada;
}

.fb {
  position: absolute;
  width: 41.67px;
  height: 40.29px;
  left: 720px;
  top: 280px;
  background: #dadada;
}

.linkedin {
  position: absolute;
  width: 41.67px;
  height: 40.29px;
  left: 810px;
  top: 280px;
  background: #dadada;
}

.youtube {
  position: absolute;
  width: 45.83px;
  height: 32.23px;
  left: 900px;
  top: 280px;
  background: #e2eb65;
}

.copyright {
  position: absolute;
  width: 406px;
  height: 51px;
  left: 574px;
  top: 349px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: black;
}
