.header {
  box-sizing: border-box;
  background-color: #001427;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 77px;
  padding-top: 40px;
  background: transparent;
}

.logo {
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav {
  flex: 1;
  text-align: right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

a {
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: transparent;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}

.quanlitaikhoan {
  position: relative;
  /*   background: #001427; */
}

.container {
  position: relative;
  margin: 0 auto;
}

.left {
  float: left;
  position: absolute;
  width: 426px;
  height: 344px;
  left: 210px;
  top: 365px;
}

nav a {
  list-style: none;
  padding: 35px;
  /*     color: #fff; */
  display: block;
}

nav a:hover {
  color: #708d81;
  cursor: pointer;
  transform: scale(1.2);
}

nav a:first-child {
  margin-top: 7px;
}

nav a.active {
  color: #708d81;
}

.right {
  width: 689px;
  margin-left: 47%;
}

.tabShow {
  transition: all 0.5s ease-in;
  width: 80%;
  position: absolute;
}

h1 {
  left: 1078.31px;
  top: 232.98px;
  font-family: UTM Davida;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 71px;
  display: flex;
  align-items: center;
  color: #f4d58d;
}

.tabShow {
  display: none;
}