.header {
  box-sizing: border-box;
  background-color: #001427;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 77px;
  padding-top: 40px;
  background: transparent;
}

.logo {
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav {
  flex: 1;
  text-align: right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

a {
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p {
  padding-top: 20px;
  padding-left: 430px;
  padding-right: 430px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transform: rotate(-0.16deg);
}

.container {
  position: relative;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: transparent;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}

/* .left {
    position: absolute;
    width: 626px;
    height: 644px;
    left: 10px;
    top: 50px;
  } */

nav a {
  list-style: none;
  padding: 35px;
  /*     color: #fff; */
  display: block;
}

nav a:hover {
  color: #708d81;
  cursor: pointer;
  transform: scale(1.2);
}

nav a:first-child {
  margin-top: 7px;
}

nav a.active {
  color: #708d81;
}

.lienketnganhang {
  position: relative;
  width: 1822px;
  height: 900px;
  background: #001427;
}

.tab {
  position: absolute;
  top: 180px;
  left: 150px;
}

.tab1 {
  position: absolute;
  top: 240px;
  left: 150px;
}

.tab2 {
  position: absolute;
  top: 300px;
  left: 150px;
}

.text_lknh {
  position: absolute;
  top: -50px;
  width: 587px;
  height: 115px;
  left: 750px;
  font-family: "UTM Davida";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 71px;
  display: flex;
  align-items: center;
  color: #f4d58d;
}

.tennganhang {
  position: absolute;
  width: 252.33px;
  height: 40.6px;
  left: 650px;
  top: 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.combobox1 {
  position: absolute;
  padding: 8px;
  left: 650px;
  top: 160px;
  width: 700px;
  height: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.loaithe {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 650px;
  top: 210px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.combobox2 {
  position: absolute;
  padding: 8px;
  left: 650px;
  top: 280px;
  width: 140px;
  height: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.stk{
  position: absolute;
  width: 300px;
  height: 40px;
  left: 850px;
  top: 210px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.sotaikhoan{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 850px;
  top: 280px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.pencil {
  position: absolute;
  left: 1300px;
  top: 290px;
}

.hoten{
  position: absolute;
  width: 300px;
  height: 40px;
  left: 650px;
  top: 330px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.hotenchuthe{
  position: absolute;
  width: 700px;
  height: 60px;
  left: 650px;
  top: 410px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.pen{
  position: absolute;
  left: 1300px;
  top: 420px;
}

.ngayphathanh{
  position: absolute;
  width: 300px;
  height: 40px;
  left: 650px;
  top: 460px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.month_year{
  position: absolute;
  padding: 8px;
  left: 650px;
  top: 540px;
  width: 200px;
  height: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.thaydoi {
  position: absolute;
  left: 800px;
  top: 640px;
}

.huy {
  position: absolute;
  left: 1030px;
  top: 640px;
}

.luu {
  position: absolute;
  left: 1210px;
  top: 640px;
}
