* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #001427;
}

.header_homepage {
  box-sizing: border-box;
  background-color: #001427;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 77px;
  padding-top: 40px;
  background: transparent;
}

.logo {
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav {
  flex: 1;
  text-align: right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li {
  display: inline-block;
  margin-right: 70px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f4d58d;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p {
  padding-top: 20px;
  padding-left: 430px;
  padding-right: 430px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transform: rotate(-0.16deg);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: transparent;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}

/*-------------------------------*/

.row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  flex-basis: 50%;
  min-width: 100px;
  text-align: left;
  padding-left: 200px;
}

.right {
  flex-basis: 50%;
  min-width: 100px;
  text-align: left;
}

.nav a {
  list-style: none;
  /* padding: 35px; */
  /*     color: #fff; */
  display: block;
}

.nav a:hover {
  color: #708d81;
  cursor: pointer;
  transform: scale(1.2);
}

.nav a:first-child {
  margin-top: 7px;
}

.nav a.active {
  color: #708d81;
}

.lienketnganhang {
  background: #001427;
}

.tab {
}

.tab1 {
}

.tab2 {
}

.lknh .combobox1,
.lknh .hotenchuthe
{
  width: 550px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tennganhang {
  width: 252.33px;
  height: 40.6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.combobox1 {
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.lineofcard_number{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

.card_bl{
  flex-basis: 25%;
}

.number_bl{
  flex-basis: 70%;
  padding-left: 20px;
}

.loaithe {
  width: 196.25px;
  height: 40.6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.combobox2 {
  padding: 8px;
  width: 142px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.lineofstk {
  position: relative;
}
.stk {
  width: 250px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.sotaikhoan {
  position: relative;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.pencil {
  position: absolute;
  top: 10px;
  left: 250px;
}


.lineofhoten {
  position: relative;
}

.hoten {
  width: 200px;
  height: 42px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.hotenchuthe {
  position: relative;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}

.pen {
  position: absolute;
  top: 10px;
  left: 490px;
}

.ngayphathanh {
  width: 252.33px;
  height: 40.6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.month_year {
  height: 60px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  transform: rotate(-0.16deg);
  border: 5px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: transparent;
}


.lineofbuttons {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 210px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.thaydoi{
  padding-right: 10px;
}
.huy {
  padding-right: 10px;

}

.luu {
}
