*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header_homepage{
  box-sizing:border-box;
  background-color: #001427;
  margin: 0;
  padding:0;
}

.navbar{
  display:flex;
  align-items:center;
  padding:77px;
  padding-top: 40px;
  background: transparent;
  padding-bottom: 30px;
}

.logo{
  /* padding-left:100px !important; */
  background: transparent;
  /* width: 82px; */
}

nav{
  flex:1;
  text-align:right;
  background: transparent;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

nav ul{
  display:inline-block;
  list-style-type: none;
  background: transparent;
}

nav ul li{
  display:inline-block;
  margin-right:70px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  background: transparent;
}

nav ul li::after{
  content: '';
    width: 0%;
    height: 2px;
    background: #f4d58d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
  width:100%;
}

a{
  text-decoration: none;
  color: #f4d58d;
  background: transparent;
}

p{
  padding-top:20px;
  padding-left:430px;
  padding-right:430px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-0.16deg);
}

.container{
  max-width:1300px;
  margin:auto;
  padding-left:25px;
  padding-right:25px;
  background: transparent;
}

.row{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
  background: transparent;
}

/*------------------------------- about us --------------------------------*/

.vechungtoi{
  box-sizing: border-box;
  background-color: #001427;
}

.row-1st{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
}

.col-1{
  flex-basis:50%;
  min-width:100px;
  text-align: left;
}

.text-col-1{
  padding-left: 150px;
  padding-right: 150px;
}

.col-1 img{
  max-width:80%;
  padding:20px 0;
}

.p_vechungtoi{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  color: #FFFFFF;
}


/*------------------------------ member ------------------------------*/

.thanhvien{
  background-color: #001427;
}

.text_thanhvien{
  display: flex;
  justify-content:center;
  align-items:center;
  padding-top: 140px;
  padding-bottom: 100px;
}

.member_imgs{
  display: flex;
  justify-content:center;
  align-items:center;
}

.member_imgs img{
  width: 1200px;
}

.member_names{
  display: flex;
  justify-content:center;
  align-items:center;
}

.member_names img{
  width: 1200px;
}

.member_links{
  display: flex;
  justify-content:center;
  align-items:center;
}

.member_links .tv1_links{
  padding-right:370px;
}
.member_links .tv1_links a img{
  width: 39px;
  opacity: 0.5;
}

.member_links .tv2_links a img{
  width: 39px;
  opacity: 0.5;
}

.member_links .tv3_links{
  padding-left:370px;
}
.member_links .tv3_links a img{
  width: 39px;
  opacity: 0.5;
}



/*------------------------------FOOTER---------------------------*/
.footer_homepage{
  background-color: #1C2A3D!important;
}

.footer_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom:30px;
}

.footer_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer_nav h2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer_icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer_icons img{
  padding-left: 15px;
  padding-right: 15px;
}

.footer_copyright{
  display: flex;
  justify-content: center;
  align-items: center; 
}
