.quanlitaikhoan {
}

.qltk {
  position: absolute;
  width: 304px;
  height: 110px;
  left: 210px;
  top: 368px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 130%;
  /* or 84px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.tttk {
  position: absolute;
  width: 304px;
  height: 68px;
  left: 312px;
  top: 505px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.lknh {
  position: absolute;
  width: 304px;
  height: 68px;
  left: 312px;
  top: 573px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.dhct {
  position: absolute;
  width: 304px;
  height: 68px;
  left: 312px;
  top: 641px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.text_tttk {
  position: absolute;
  width: 587.79px;
  height: 115.04px;
  left: 1078.31px;
  top: 232.98px;

  font-family: UTM Davida;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 71px;
  display: flex;
  align-items: center;

  color: #f4d58d;
}

.tenkhachhang {
  position: absolute;
  width: 252.33px;
  height: 40.6px;
  left: 1002.9px;
  top: 327.73px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.hovaten {
  position: absolute;
  width: 663.2px;
  height: 58.52px;
  left: 1002.9px;
  top: 378px;

  border: 3px solid #f4d58d;
  box-sizing: border-box;
  border-radius: 15px;
}

.ngaysinh {
  position: absolute;
  width: 196.25px;
  height: 40.6px;
  left: 1000px;
  top: 465.01px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.email {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 980px;
  top: 603px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.nhapemail {
  position: absolute;
  width: 635px;
  height: 42px;
  left: 1000px;
  top: 664px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;

  opacity: 0.6;
}

.sdt {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 980px;
  top: 745px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.nhapsdt {
  position: absolute;
  width: 635px;
  height: 42px;
  left: 1000px;
  top: 806px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;

  opacity: 0.6;
}

.huy {
  position: absolute;
  width: 105px;
  height: 42px;
  left: 1362px;
  top: 900.18px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.luu {
  position: absolute;
  width: 105px;
  height: 41px;
  left: 1544px;
  top: 901px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
