*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin-top:10px;
}

.homepage_nguongoc{
    background-color: #6D0500;
}

.row-1st{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.col-1{
    flex-basis:50%;
    min-width:100px;
    padding-left: 10px;
    text-align: right;
}

.col-1 img{
    max-width:80%;
    padding:20px 0;
}

.h3_nguongoc{
    font-family: 'Puppies Play', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    color: #F4D58D;
}

.p_nguongoc{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.collapsible{
    font-family: 'PT Serif Caption', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f4d58d;
    transform: rotate(-0.16deg);
    border: 2px solid #F4D58D;
    box-sizing: border-box;
    border-radius: 15px;
    background-color:transparent;
    margin-left: 625px;
}

.row-2nd{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.col-2 img{
    max-width:80%;
    padding:20px 0;
}

.col-2{
    flex-basis:50%;
    min-width:100px;
    /* padding-left: 10px;
    text-align: right; */
}

.col-2 p{
    text-align: left;
    padding-right: 20px;
}



.row-3rd{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.col-3{
    flex-basis:50%;
    min-width:100px;
    padding-left: 10px;
    text-align: left;
}

.col-3 img{
    max-width:100%;
    padding:20px 0;
    padding-left:150px;
}