.starting_page{
    background-image:url("start.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:0;
}
.h1_startingpage {
    /*  position: absolute;*/
    /* width: 692px;
    height: 405.2px;
    left: 493.47px;
    top: 80.95px; */
    margin-left: 493px;
    margin-top: 20px;
  
    /* font-family: "UTM Davida"; */
    font-family: 'Puppies Play', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 181px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #f4d58d;
  
    transform: rotate(-0.16deg);
}

.p_startingpage{
/*     position: absolute;
 *//*   width: 692px;
  height: 291.02px;
  left: 493.74px;
  top: 249.93px; */
  margin-left: 343.74px;
  margin-top: 25.36px;


  /* font-family: "Montserrat"; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  transform: rotate(-0.16deg);
}

.btn_startingpage{
    margin-left: 663.8px;
  margin-top: 25.36px;
  margin-bottom:25px;
    /* font-family: "SVN-Aptima"; */
  font-family: 'PT Serif Caption', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f4d58d;

  transform: rotate(-0.16deg);
  border: 3px solid #F4D58D;
  box-sizing: border-box;
  border-radius: 35px;
  background-color:transparent;

  
}