*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .header_homepage{
    box-sizing:border-box;
    background-color: #001427;
    margin: 0;
    padding:0;
  }
  
  .navbar{
    display:flex;
    align-items:center;
    padding:77px;
    padding-top: 40px;
    background: transparent;
  }
  
  .logo{
    /* padding-left:100px !important; */
    background: transparent;
    /* width: 82px; */
  }
  
  nav{
    flex:1;
    text-align:right;
    background: transparent;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  nav ul{
    display:inline-block;
    list-style-type: none;
    background: transparent;
  }
  
  nav ul li{
    display:inline-block;
    margin-right:70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    background: transparent;
  }
  
  nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f4d58d;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  nav ul li:hover::after{
    width:100%;
  }
  
  a{
    text-decoration: none;
    color: #f4d58d;
    background: transparent;
  }
  
  p{
    padding-top:20px;
    padding-left:430px;
    padding-right:430px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-0.16deg);
  }
  
  .container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    background: transparent;
  }
  
  .row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    background: transparent;
  }
  
  /*-------------------------------- THANKS -------------------------------*/
  
  .camon{
    box-sizing: border-box;
    background-color: #001427;
  }
  
  .text{
      display: flex;
      justify-content: center;
      align-items:center;
  }

  .thanks_text{
      padding-top: 40px;
      padding-bottom: 20px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .thanks_button{
      padding-bottom: 180px;
  }
  
  /*------------------------------FOOTER---------------------------*/
  .footer_homepage{
    background-color: #1C2A3D!important;
  }
  
  .footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom:30px;
  }
  
  .footer_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .footer_nav h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .footer_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .footer_icons img{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .footer_copyright{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  